<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card-wrapper card-space">
      <div class="card card-bg card-big no-after"
           style="
           {% if card_padding > 0 %} padding:       {{card_padding}}px; {% endif %} 
           {% if card_margin  > 0 %} margin:        {{card_margin}}px;  {% endif %}
           {% if card_round   > 0 %} border-radius: {{card_round}}px;   {% endif %}">
        <div class="card-body">
          <div class="head-tags">
            <a class="card-tag" href="{{card_tag_url}}">{{card_tag}}</a>
            <span class="data">{{card_date}}</span>
          </div>
          <h5 class="card-title">{{card_title}}</h5>
          <p class="card-text">{{card_content}}</p>
          <div class="it-card-footer">
            <span class="card-signature">{{card_signature}}</span>
            <button class="btn btn-outline-primary btn-sm">{{card_button}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>