<div class="row">
  <div class="col-12 col-lg-8">
    <div class="card-wrapper card-space">
      <div class="card card-bg card-big"
           style="
           {% if card_padding > 0 %} padding:       {{card_padding}}px; {% endif %} 
           {% if card_margin  > 0 %} margin:        {{card_margin}}px;  {% endif %}
           {% if card_round   > 0 %} border-radius: {{card_round}}px;   {% endif %}">
        <div class="card-body">
          <div class="top-icon">
            <svg class="icon">
              <use xlink:href="./themes/custom/italiagov/assets/icons/sprite.svg#{{card_icon}}"></use>
            </svg>
          </div>
          <h5 class="card-title">{{card_title}}</h5>
          <p class="card-text">{{card_content}}</p>
          <a class="read-more" href="{{card_link_url}}">
            <span class="text">{{card_link_title}}</span>
            <svg class="icon">
              <use xlink:href="./themes/custom/italiagov/assets/icons/sprite.svg#it-arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>