<div style="
     {% if hero_padding > 0 %} padding:       {{hero_padding}}px; {% endif %} 
     {% if hero_margin  > 0 %} margin:        {{hero_margin}}px;  {% endif %}
     {% if hero_round   > 0 %} border-radius: {{hero_round}}px;   {% endif %}">

  <div class="it-hero-wrapper {% if hero_background_url %} it-dark it-overlay {% endif %} {% if hero_card_title and hero_card_content %} it-bottom-overlapping-content {% endif %}">
    {% if hero_background_url %}
      <div class="img-responsive-wrapper">
        <div class="img-responsive">
          <div class="img-wrapper"><img src="{{hero_background_url}}" title="{{hero_background_title}}" alt="{{hero_background_alt}}"></div>
        </div>
    </div>
    {% endif %}

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-hero-text-wrapper bg-dark">
            <span class="it-category">{{hero_category}}</span>
            <h1 class="no_toc">{{hero_title}}</h1>
            <p class="d-none d-lg-block">{{hero_content}}</p>
            <div class="it-btn-container"><a class="btn btn-sm btn-outline-primary" href="{{hero_button_url}}">{{hero_button_title}}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if hero_card_title and hero_card_content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card-wrapper card-space">
          <div class="card card-bg">
            <div class="card-body">
              <h5 class="card-title">{{hero_card_title}}</h5>
              <p class="card-text">{{hero_card_content}}</p>
              {% if hero_card_link_title and hero_card_link_url %}
              <a class="read-more" href="{{hero_card_link_url}}">
                <span class="text">{{hero_card_link_title}}</span>
                <svg class="icon">
                  <use xlink:href="./themes/custom/italiagov/assets/icons/sprite.svg#it-arrow-right"></use>
                </svg>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>