<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card-wrapper" 
         style="
          {% if card_padding > 0 %} padding: {{card_padding}}px; {% endif %} 
          {% if card_margin  > 0 %} margin:  {{card_margin}}px;  {% endif %}">
      <div class="card card-img no-after">
        <div class="img-responsive-wrapper">
          <div class="img-responsive">
            <figure class="img-wrapper">
              <img src="{{card_image_url}}" title="{{card_image_title}}" alt="{{card_image_alt}}">
            </figure>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{card_title}}</h5>
          <p class="card-text"></p><a class="read-more" href="{{card_link_url}}"><span class="text">{{card_link_title}}</span>
            <svg class="icon">
              <use xlink:href="./themes/custom/italiagov/assets/icons/sprite.svg#it-arrow-right"></use>
            </svg></a>
        </div>
      </div>
    </div>
  </div>
</div>