<div 
	class="section {% if section_color != 'no_color' %} section-{{section_color}} {% endif %}" 
	style="
	{% if section_padding > 0 %} padding: {{section_padding}}px;     			  {% endif %} 
	{% if section_margin  > 0 %} margin: {{section_margin}}px;       			  {% endif %}
	{% if section_round   > 0 %} border-radius: {{section_round}}px; 			  {% endif %}
	{% if section_background %}  background-image: url('{{section_background}}'); {% endif %}
	{% if section_text_color %}  color: {{section_text_color}};			          {% endif %}">
  <div class="section-content">
    <div class="container">
      <div class="row mb-3">
        <div class="col-12">
          <h4>{{section_title}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-4 pr-0 pr-md-5 mb-3">{{first_section}}</div>
        <div class="col-12 col-lg-6 col-xl-4 pr-0 pr-md-5 mb-3">{{second_section}}</div>
        <div class="col-12 col-lg-6 col-xl-4 pr-0 pr-md-5">{{third_section}}</div>
      </div>
    </div>
  </div>
</div>