<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card-wrapper" 
         style="
          {% if card_padding > 0 %} padding: {{card_padding}}px; {% endif %} 
          {% if card_margin  > 0 %} margin:  {{card_margin}}px;  {% endif %}">
      <a class="card card-img no-after special-card" href="{{card_link_url}}">
        <div class="img-responsive-wrapper">
          <div class="img-responsive">
            <figure class="img-wrapper">
              <img src="{{card_image_url}}" title="{{card_image_title}}" alt="{{card_image_alt}}">
            </figure>
          </div>
        </div>
        <div class="card-body">
          <div class="head-tags"><span class="data">{{card_date}}</span>
          </div>
          <h5 class="card-title">{{card_title}}</h5>
        </div>
      </a>
    </div>
  </div>
</div>