<div class="card-wrapper card-space"
     style="{% if tabs_padding > 0 %} padding: {{tabs_padding}}px; {% endif %} 
            {% if tabs_margin  > 0 %} margin:  {{tabs_margin}}px;  {% endif %}">
  <div class="card card-bg">
    <div class="card-body">
      <ul class="nav nav-tabs" id="myTabCard" role="tablist">
        <li class="nav-item">
          <a class="nav-link {% if first_tab_active %} active {% else %} disabled {% endif %}" id="{{tab_id ~ '1'}}-tab" data-toggle="tab" href="#{{tab_id ~ '1'}}" role="tab" aria-controls="{{tab_id ~ '1'}}" aria-selected="{% if first_tab_active %} true {% else %} false {% endif %}">
            {% if first_tab_icon %}
              <svg class="icon icon-primary">
                <use xlink:href="./themes/custom/italiagov/assets/icons/sprite.svg#{{first_tab_icon}}"></use>
              </svg>
            {% endif %} {{first_tab_title}}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if second_tab_active and not first_tab_active %} active {% elseif not second_tab_active %} disabled {% endif %}" id="{{tab_id ~ '2'}}-tab" data-toggle="tab" href="#{{tab_id ~ '2'}}" role="tab" aria-controls="{{tab_id ~ '2'}}" aria-selected="{% if second_tab_active and not first_tab_active %} true {% else %} false {% endif %}">
            {% if second_tab_icon %}
              <svg class="icon icon-primary">
                <use xlink:href="./themes/custom/italiagov/assets/icons/sprite.svg#{{second_tab_icon}}"></use>
              </svg>
            {% endif %} {{second_tab_title}}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if third_tab_active and (not second_tab_active and not first_tab_active) %} active {% elseif not third_tab_active %} disabled {% endif %}" id="{{tab_id ~ '3'}}-tab" data-toggle="tab" href="#{{tab_id ~ '3'}}" role="tab" aria-controls="{{tab_id ~ '3'}}" aria-selected="{% if third_tab_active and (not second_tab_active and not first_tab_active) %} true {% else %} false {% endif %}">
            {% if third_tab_icon %}
              <svg class="icon icon-primary">
                <use xlink:href="./themes/custom/italiagov/assets/icons/sprite.svg#{{third_tab_icon}}"></use>
              </svg>
            {% endif %} {{third_tab_title}}
          </a>
        </li>
      </ul>

      <div class="tab-content" id="myTabCardContent">
        <div class="tab-pane p-4 fade {% if first_tab_active %} show active {% endif %}" id="{{tab_id ~ '1'}}" role="tabpanel" aria-labelledby="{{tab_id ~ '1'}}-tab">{{first_tab_content}}</div>
        <div class="tab-pane p-4 fade {% if second_tab_active and not first_tab_active %} show active {% endif %}" id="{{tab_id ~ '2'}}" role="tabpanel" aria-labelledby="{{tab_id ~ '2'}}-tab">{{second_tab_content}}</div>
        <div class="tab-pane p-4 fade {% if third_tab_active and (not second_tab_active and not first_tab_active) %} show active {% endif %}" id="{{tab_id ~ '3'}}" role="tabpanel" aria-labelledby="{{tab_id ~ '3'}}-tab">{{third_tab_content}}</div>
      </div>
    </div>
  </div>
</div>