<div class="bd-example-tabs" style="
  {% if tabs_padding > 0 %} padding: {{tabs_padding}}px; {% endif %} 
  {% if tabs_margin  > 0 %} margin:  {{tabs_margin}}px;  {% endif %}">
  
  <div class="row">
    <div class="col-4 col-md-3">
      <ul class="nav nav-tabs nav-tabs-vertical {% if tab_background %} nav-tabs-vertical-background {% endif %}" id="myTab" role="tablist" aria-orientation="vertical">
        <li class="nav-item">
          <a class="nav-link {% if first_tab_active %} active {% else %} disabled {% endif %}" id="{{tab_id ~ '1'}}-tab" data-toggle="tab" href="#{{tab_id ~ '1'}}" role="tab" aria-controls="{{tab_id ~ '1'}}" aria-selected="{% if first_tab_active %} true {% else %} false {% endif %}">
            {{first_tab_title}}
            {% if first_tab_icon %}
              <svg class="icon icon-primary">
                <use xlink:href="./themes/custom/italiagov/assets/icons/sprite.svg#{{first_tab_icon}}"></use>
              </svg>
            {% endif %}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if second_tab_active and not first_tab_active %} active {% elseif not second_tab_active %} disabled {% endif %}" id="{{tab_id ~ '2'}}-tab" data-toggle="tab" href="#{{tab_id ~ '2'}}" role="tab" aria-controls="{{tab_id ~ '1'}}" aria-selected="{% if second_tab_active and not first_tab_active %} true {% else %} false {% endif %}">
            {{second_tab_title}}
            {% if second_tab_icon %}
              <svg class="icon icon-primary">
                <use xlink:href="./themes/custom/italiagov/assets/icons/sprite.svg#{{second_tab_icon}}"></use>
              </svg>
            {% endif %}
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link {% if third_tab_active and (not second_tab_active and not first_tab_active) %} active {% elseif not third_tab_active %} disabled {% endif %}" id="{{tab_id ~ '3'}}-tab" data-toggle="tab" href="#{{tab_id ~ '3'}}" role="tab" aria-controls="{{tab_id ~ '3'}}" aria-selected="{% if third_tab_active and (not second_tab_active and not first_tab_active) %} true {% else %} false {% endif %}">
            {{third_tab_title}}
            {% if third_tab_icon %}
              <svg class="icon icon-primary">
                <use xlink:href="./themes/custom/italiagov/assets/icons/sprite.svg#{{third_tab_icon}}"></use>
              </svg>
            {% endif %}
          </a>
        </li>
      </ul>
    </div>

    <div class="col-8 col-md-9">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane p-4 fade {% if first_tab_active %} show active {% endif %}" id="{{tab_id ~ '1'}}" role="tabpanel" aria-labelledby="{{tab_id ~ '1'}}-tab">{{first_tab_content}}</div>
        <div class="tab-pane p-4 fade {% if second_tab_active and not first_tab_active %} show active {% endif %}" id="{{tab_id ~ '2'}}" role="tabpanel" aria-labelledby="{{tab_id ~ '2'}}-tab">{{second_tab_content}}</div>
        <div class="tab-pane p-4 fade {% if third_tab_active and (not second_tab_active and not first_tab_active) %} show active {% endif %}" id="{{tab_id ~ '3'}}" role="tabpanel" aria-labelledby="{{tab_id ~ '3'}}-tab">{{third_tab_content}}</div>
      </div>
    </div>
  </div>
</div>