{# <div style="
  {% if tabs_padding > 0 %} padding: {{tabs_padding}}px; {% endif %} 
  {% if tabs_margin  > 0 %} margin:  {{tabs_margin}}px;  {% endif %}">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item"><a class="nav-link {% if first_tab_active %} active {% else %} disabled {% endif %}" id="{{tab_id ~ '1'}}-tab" data-toggle="tab" href="#{{tab_id ~ '1'}}" role="tab" aria-controls="{{tab_id ~ '1'}}" aria-selected="{% if first_tab_active %} true {% else %} false {% endif %}">{{first_tab_title}}</a></li>
    <li class="nav-item"><a class="nav-link {% if second_tab_active and not first_tab_active %} active {% elseif not second_tab_active %} disabled {% endif %}" id="{{tab_id ~ '2'}}-tab" data-toggle="tab" href="#{{tab_id ~ '2'}}" role="tab" aria-controls="{{tab_id ~ '1'}}" aria-selected="{% if second_tab_active and not first_tab_active %} true {% else %} false {% endif %}">{{second_tab_title}}</a></li>
    <li class="nav-item"><a class="nav-link {% if third_tab_active and (not second_tab_active and not first_tab_active) %} active {% elseif not third_tab_active %} disabled {% endif %}" id="{{tab_id ~ '3'}}-tab" data-toggle="tab" href="#{{tab_id ~ '3'}}" role="tab" aria-controls="{{tab_id ~ '3'}}" aria-selected="{% if third_tab_active and (not second_tab_active and not first_tab_active) %} true {% else %} false {% endif %}">{{third_tab_title}}</a></li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane p-4 fade {% if first_tab_active %} show active {% endif %}" id="{{tab_id ~ '1'}}" role="tabpanel" aria-labelledby="{{tab_id ~ '1'}}-tab">{{first_tab_content}}</div>
    <div class="tab-pane p-4 fade {% if second_tab_active and not first_tab_active %} show active {% endif %}" id="{{tab_id ~ '2'}}" role="tabpanel" aria-labelledby="{{tab_id ~ '2'}}-tab">{{second_tab_content}}</div>
    <div class="tab-pane p-4 fade {% if third_tab_active and (not second_tab_active and not first_tab_active) %} show active {% endif %}" id="{{tab_id ~ '3'}}" role="tabpanel" aria-labelledby="{{tab_id ~ '3'}}-tab">{{third_tab_content}}</div>
  </div>
</div> #}

<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card-wrapper card-space">
      <div class="card card-bg" 
           style="
           {% if card_padding > 0 %} padding:       {{card_padding}}px; {% endif %} 
           {% if card_margin  > 0 %} margin:        {{card_margin}}px;  {% endif %}
           {% if card_round   > 0 %} border-radius: {{card_round}}px;   {% endif %}">
        <div class="card-body">
          <h5 class="card-title">{{first_card_title}}</h5>
          <p class="card-text">{{first_card_content}}</p>
          <a class="read-more" href="{{first_card_link_url}}">
            <span class="text">{{first_card_link_title}}</span>
            <svg class="icon">
              <use xlink:href="./themes/custom/italiagov/assets/icons/sprite.svg#it-arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="card-wrapper card-space">
      <div class="card card-bg" 
           style="
           {% if card_padding > 0 %} padding:       {{card_padding}}px; {% endif %} 
           {% if card_margin  > 0 %} margin:        {{card_margin}}px;  {% endif %}
           {% if card_round   > 0 %} border-radius: {{card_round}}px;   {% endif %}">
        <div class="card-body">
          <h5 class="card-title">{{second_card_title}}</h5>
          <p class="card-text">{{second_card_content}}</p>
          <a class="read-more" href="{{second_card_link_url}}">
            <span class="text">{{second_card_link_title}}</span>
            <svg class="icon">
              <use xlink:href="./themes/custom/italiagov/assets/icons/sprite.svg#it-arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>